$white: #fff;


// gray tone 
$dark-gray: #2E3447;
$dark-gray2: #6E6D7A;
$dark-gray3: #383E50;
$dark-gray4: #707070;
$dark-gray5: #A9A9A9;

$light-gray: #E7E7E9;
$light-gray2: #ebedee;
$light-gray3: #ECEDF4;
$light-gray4: #EDEDED;
$light-gray5: #F3F3F5;
$light-gray6: #f3f3f3;

// mix color 

$red: #E32442;  
$orange: #F89700;
$darkblue: #1B2B58;








